<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="div_contenedor">
  <div class="div_centrado">
    <div class="card" align="center" style="width: 18rem;">
      <div class="card-body">
        <div class="card mb-6 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Login</h4>
          </div>
          <br>
          <form method="POST">
          {% csrf_token %}
            <label><b>Email</b></label>
            <input type="text" name="email" id="email" required>
            <label><b>Contraseña</b></label>
            <input type="password" name="password" id="password" required>
            <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<style>
  .div_contenedor {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rebeccapurple;
  }

  .div_contenedor::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .div_centrado {
    width: 200px;
    height: 200px;
    background: red;
    display: inline-block;
    vertical-align: middle;
  }
</style>
<!--<p class="submit"><input type="submit" name="commit" value="Login"></p>-->