{% extends "superadmin/base.html" %}
  {% block content %}
    <body>

    <div class="tab-content">
      <br>
      <hr>
          <!------------------------------------------------------------------------------------------------------------------------------------------------------->
      <div class="BrandContainerImage" style="position:relative;margin-left: 150px;margin-top: 20px;">
              <img src="https://www.pngfind.com/pngs/m/365-3658172_open-door-door-opening-door-open-door-vector.png" style="position:relative;float: left;" height="100" width="100" alt="fondo">
        <label class="BrandContainerTitle">
          <b>Ultimas altas de clientes</b>
        </label>
      </div>
      <!------------------------------------------------------------------------------------------------------------------------------------------------------->
      <div class="BrandContainerImage" style="position:relative;margin-left: 150px;margin-top: 20px;">
              <img src="https://www.pngfind.com/pngs/m/365-3658172_open-door-door-opening-door-open-door-vector.png" style="position:relative;float: left;" height="100" width="100" alt="fondo">
        <label class="BrandContainerTitle">
          <b>Ultimas altas</b>
        </label>
      </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------->
      <div class="BrandContainerImage" style="position:relative;margin-left: 150px;margin-top: 20px;">
              <img src="https://www.pngfind.com/pngs/m/365-3658172_open-door-door-opening-door-open-door-vector.png" style="position:relative;float: left;" height="100" width="100" alt="fondo">
        <label class="BrandContainerTitle">
          <b>Ultimas altas</b>
        </label>
      </div>
      <!------------------------------------------------------------------------------------------------------------------------------------------------------->
      <div class="BrandContainerImage" style="position:relative;margin-left: 150px;margin-top: 20px;">
              <img src="https://www.pngfind.com/pngs/m/365-3658172_open-door-door-opening-door-open-door-vector.png" style="position:relative;float: left;" height="100" width="100" alt="fondo">
        <label class="BrandContainerTitle">
          <b>Ultimas altas</b>
        </label>
      </div>


    </div>

    </body>

    <style>
            .BrandContainer
    {
           width: 100%;
    }
    .BrandContainerTitle
    {
           margin-top: 40px;
           margin-right: 50px;
           vertical-align: top;
           float: right;
    }
    .BrandContainerImage
    {
           vertical-align: top;
           float: left;
    }
    .BrandContainerImage img
    {
           height: 100px;
           width: 100px;
    }
    </style>

  {% endblock content%}