<div class=".circle ul li">
    <div class="div_centrado"><a class="nav-link" href="{% url 'reservation' %}">+ Accesos</a>
    </div>
</div>


<style>
    .circle ul li {
        float: none;
        content: '';
        position: relative;
        float: left;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background-color: #FEFEFE;
        margin: 20px 30px;
        z-index: 1;
        border: solid 1px #B7B7B7;
        left: 50%;
        box-sizing: content-box;
    }
</style>