{% extends "owner/navbar.html" %} {% load static %} {% block content %} {% include 'owner/button.html' %}
<br><br><br>
<form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
</form>
<table>

    <tr>
        <th>Piso</th>
        <th>Activo</th>
        <th>Dirección</th>
        <th>Planta</th>
        <th>Puerta</th>
        <th>Ciudad</th>
        <th>Codigo Postal</th>
        <th>Fecha de inicio</th>
        <th>Hora de inicio</th>
        <th>Hora de fin</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
    </tr>
    <!--Recorrer tabla de resevas e incluir todos esos campos-->
    {% for flat in flats %}
    <tr>
        <td>{{flat.name}}</td>
        <td>Si</td>
        <td>{{flat.address}}</td>
        <td>{{flat.floor}}</td>
        <td>{{flat.door}}</td>
        <td>{{flat.city}}</td>
        <td>{{flat.postal_code}}</td>
        <td>sin info</td>
        <td>sin info</td>
        <td>sin info</td>
        <td>sin info</td>
        <td>sin info</td>
        <td>sin info</td>

    </tr>
    {% endfor %}
</table>
<p>{{flat.name}}</p>
{% endblock content%}

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #00a4a9;
    }
    
    * {
        box-sizing: border-box;
    }
    /* Add padding to containers */
    
    .container {
        padding: 16px;
        background-color: white;
    }
    /* Full-width input fields */
    
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }
    
    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    /* Overwrite default styles of hr */
    
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }
    /* Set a style for the submit button */
    
    .registerbtn {
        background-color: #00a4a9;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }
    
    .registerbtn:hover {
        opacity: 1;
    }
    /* Add a blue text color to links */
    
    a {
        color: dodgerblue;
    }
    /* Set a grey background color and center the text of the "sign in" section */
    
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }
</style>