{% extends "owner/navbar.html" %} {% block content %}{% load crispy_forms_tags %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<body>
    <div class="container">
        <h2>Ajustes</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Opciones de visualización</a></li>
            <li><a data-toggle="tab" href="#menu1">Opciones de alertas</a></li>
            <li><a data-toggle="tab" href="#menu2">Opciones let check out</a></li>
            <li><a data-toggle="tab" href="#menu3">Opciones de accesos</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <br><br>
                <p></p>
            </div>
            <div id="menu1" class="tab-pane fade">
                <br>
                <h3>Opciones de las alertas</h3>
                <hr>
                <!--TODO Poner bordes y flotante a la izquierda en este div-->
                <form action="../savesettings_alert/" method="POST">
                    {% csrf_token %} {{ settings.alerts.form|crispy }}
                    <button type="submit" class="">Guardar</button>
                </form>
            </div>

            <div id="menu2" class="tab-pane fade">
                <br><br>
                <form action="../savesettings_ck/" method="POST">
                    {% csrf_token %} {{ settings.checkout.form|crispy }}
                    <button type="submit" class="">Guardar</button>
                </form>
            </div>
            <div id="menu3" class="tab-pane fade">
                <br><br>
                <form action="../savesettings_form/" method="POST">
                    {% csrf_token %} {{ settings.forms.form|crispy }}
                    <button type="submit" class="">Guardar</button>
                </form>

            </div>
        </div>
    </div>

    {% endblock content%}
</body>
<style>
    .container_info {
        margin: 1rem;
        padding: 1rem;
        border: 2px solid #ccc;
        text-align: center;
    }
</style>