{% extends "owner/navbar.html" %} {% block content %}{% load crispy_forms_tags %}{% include 'owner/button.html' %}

<body>
    <div class="container">
        <br><br>
        <h2>Ajustes</h2>
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Opciones de visualización</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu1">Opciones de alertas</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu2">Opciones let check out</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu3">Opciones de accesos</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <br><br>
                <p></p>
            </div>
            <div id="menu1" class="tab-pane fade">
                <br>
                <h3>Opciones de las alertas</h3>
                <hr>
                <form action="../savesettings_alert/" method="POST">
                    {% csrf_token %} {{ settings.alerts.form|crispy }}
                    <button type="submit" class="registerbtn">Guardar</button>
                </form>
            </div>

            <div id="menu2" class="tab-pane fade">
                <br><br>
                <form action="../savesettings_ck/" method="POST">
                    {% csrf_token %} {{ settings.checkout.form|crispy }}
                    <button type="submit" class="registerbtn">Guardar</button>
                </form>
            </div>
            <div id="menu3" class="tab-pane fade">
                <br><br>
                <form action="../savesettings_form/" method="POST">
                    {% csrf_token %} {{ settings.forms.form|crispy }}
                    <button type="submit" class="registerbtn">Guardar</button>
                </form>

            </div>
        </div>
    </div>

    {% endblock content%}
</body>
<style>
    .registerbtn {
        background-color: #00a4a9;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }
    
    body {
        background: #16a085;
    }
    
    .nav-pills {
        width: 450px;
    }
    
    .nav-item {
        width: 50%;
    }
    
    .nav-pills .nav-link {
        font-weight: bold;
        padding-top: 13px;
        text-align: center;
        background: #343436;
        color: #fff;
        border-radius: 30px;
        height: 100px;
    }
    
    .nav-pills .nav-link.active {
        background: #fff;
        color: #000;
    }
    
    .tab-content {
        position: absolute;
        width: 450px;
        height: auto;
        margin-top: -50px;
        background: #fff;
        color: #000;
        border-radius: 30px;
        z-index: 1000;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
        padding: 30px;
        margin-bottom: 50px;
    }
    
    .tab-content button {
        border-radius: 15px;
        width: 100px;
        margin: 0 auto;
        float: right;
    }
</style>